<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFactura" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65442/InvoiceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFactura"
                contract="WSFacturas.IFactura" name="BasicHttpBinding_IFactura" />
        </client>
    </system.serviceModel>
</configuration>